/* common shared style */
body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/*nav related style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 234, 234);
    
}
.logo{
    margin-left: 150px;
    font-size: 23px;
    font-weight: 800;
}
nav span{
    color: rgb(246, 103, 127);
}
.menu-items {
    display: flex;
    margin-right: 150px;

}
nav li{
    list-style: none;
    margin-right: 60px;
    
}
nav a{
    text-decoration: none;
    color: #666;
    font-size: 17px;
}
/* banner related styles */
 
.banner-container{
    display: flex;
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
}
.banner-text{
    margin-left: 240px;
}
.banner-headline{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 0px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    margin: 32px 0px;
}
.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    cursor: pointer;
    }
    .btn:hover{
        color: #f3e2d6;
        
    }
.banner-image{
    width: 635px;
    height: 800px;
    margin: 50px 240px 0px 0px;
  
 }
 .featured-title{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    margin-top: 100px;

 }
 .featured-info{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
 }
 

 
.featured-flower{
    display: flex;
    margin-left: 240px;
    margin-top: 50px;
}
.featured-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}
.flower-pink{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;


}
.featured-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0px 24px 0px 24px;



}
.flower-red{
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
   
}
.featured-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);


}
.flower-yellow{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;

}
.featured-name{
    display: flex;
    margin-left: 100px;
}
.featured-name a{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-left: 300px;
}
 
 


   
